.todo-container {
    margin: 4px;
    display: flex;
    min-width: 200px;
    background: #eff2f3;
    color: rgb(81, 105, 126);
}

.description {
    flex: 1;
    align-self: center;
    margin: 0px 10px;
}

.check-button {
    align-self: center;
    margin: 0 10px;
}

.priority-low {
    width: 6px;
    height: 50px;
    background: green;
}

.priority-mid {
    width: 6px;
    height: 50px;
    background: blue;
}

.priority-high {
    width: 6px;
    height: 50px;
    background: red;
}

.addon {
    background: #1493b9;
    width: 20px;
    height: 20px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    border-radius: 2px;
    align-self: center;
    text-align: center;
    margin: 0 10px 0 0;
}