  
  .draggable-main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
  }
  
  .content {
    position: relative;
  }
  
  .content > div {
    width: auto;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
  }
  
